* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #1a202c;
}

.card {
  margin: 30px;
}
.card-img-top {
  min-width: 286px;
  min-height: 286px;
  object-fit: cover;
}
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-img-top {
  height: 100%;
  min-height: 286px;
  max-height: 286px;
}
#boton {
  margin: 1px;
}
#boton:hover {
  
  color: white;

}
.form-inline {
  margin-top: 50px;
  
}
.color {
  color: grey;
}
.radius {
  border-radius: 20px 0px 0px 20px;
}
.radius-b {
  border-radius: 0px 20px 20px 0px;
}

.color-card {
  background-color: #1F0A4E;
  color: white;
}
.sizen-1{
  font-size: 15px;
  color: #8F85A7;
  font-weight: bold;
}
.card-color {
  background-color: #1F0A4E;
  color: white;
}