* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #4618ac;
}

.card {
   margin: 30px;
}
.card-img-top {
  min-height: 300px;
  max-height: 301px;
  overflow: auto;
  object-fit: contain;
  background-color: white;
}
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-img-top {
  height: 100%;
  /* min-height: 286px;
  max-height: 286px; */
}

#boton {
  margin: 1px;
}
#boton:hover {
  color: white;
}
.form-inline {
  margin-top: 50px;
}
.color {
  color: grey;
}
.radius {
  border-radius: 20px 0px 0px 20px;
}
.radius-b {
  border-radius: 0px 20px 20px 0px;
}

.color-card {
  background-color: #1f0a4e;
  color: white;
}
.sizen-1 {
  font-size: 15px;
  color: #8f85a7;
  font-weight: bold;
}
.card-color {
  background-color: #1f0a4e;
  color: white;
}
.h-tama {
  min-height: 520px; 
}
.h-tama:hover{
  opacity: 0.9;
  transition: all 300ms;
  transform: scale(1.1);
}
h5 {
  size: 12px !important;
}

.a-element {
  text-decoration: none;
  color: white;
  font-size: 15px;
  line-height: 1;
  font-weight: 700;
}
.price {
  font-weight: 700;
  font-size: 20px;
}
.sale {
  font-size: 12px;
  color: #1dd826;
  font-weight: 700;
}
#caveat {
  /* text-decoration: none; */
  color: white;
  margin-bottom: 20px;
}
#tooltip {
  color: white;
  background-color: black;
  border-radius: 5%;
  padding: 10px;
  width: 150px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.card-text {
  margin: 0px;
  line-height: 0.6;
}

.buton-card {
  margin-top: 20px;
  background-color: #008000;
}

.buton-card-ns {
  margin-top: 6vh;
  background-color: #800064;
}
.btn-secondary {
  background: #9d65c9;
}
#carouselExampleIndicators {
}
.size-y {
  height: 400px;
  width: 100%;
}
.carousel {
  margin: 0% 15% 0% 15%;
}
@media (max-width: 1420px) {
  .carousel {
    margin: 0% 0% 0% 0%;
  }
}

.size-card{
height: 40px;
}
.none {
  text-decoration: none;
}

/* css loader */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader{
  width: 100%;
  height: 100%; 
  background: #4618AC;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

/*end css loader */
/* .products{
height: 100%;
} */